*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --green-color : #4CAF4F;
    --secondary-background-color : #F5F7FA;
    --main-background-color : #ffffff;
    --text-color : #4D4D4D;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body,html{
    min-height: 100dvh;
    width: 100vw;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}
.container{
    max-width: 1180px;
    width: 100%;
    padding: 20px 20px;
    margin: 0 auto;
}
.header__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 16px;
}
.navbar .nav__item .nav__link{
    color: var(--text-color);

}
.btn__group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.btn__group .btn{
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid var(--main-background-color);
    border-radius: 10px;
    cursor: pointer;
}
.btn__group .non-active{
    color: var(--green-color);
}
.btn__group .active{
    background-color: var(--green-color);
    color: var(--main-background-color);
}

.hero{
    background-color: var(--secondary-background-color);
}
.hero__main{
    min-height: 600px;
    width: 100%;
    display: flex;
    gap: 104px;
    justify-content: space-between;
    align-items: center;
}
.panda{
    max-width: 780px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.panda .panda__header{
    font-size: 64px;
}
.panda .panda__header .green{
    color: var(--green-color);
}
.panda .panda__subtitle{
    font-size: 16px;
    font-family: inherit;
    margin-top: 16px;
}
.btn__register{
    margin-top: 32px;
}
.btn__register .btn-r{
    padding: 14px 32px;
    border-radius: 4px;
    border: none;
    background-color: var(--green-color);
    color: #ffffff;
    font-size: 16px;
}
.motto{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.motto .motto__header{
    font-size: 36px;
    font-family: inherit;
    font-weight: 600;
}
.motto .motto__subtitle{
    margin-top: 8px;
    font-size: 16px;
    font-family: inherit;
}
.collabs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 136px;
    margin-top: 41px;
}
.manage{
    width: 100%;
}
.manage__main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.system{
    max-width: 542px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.system .system__header{
    font-size: 36px;
    font-family: inherit;
    font-weight: 600;
    text-align: center;
}
.system .system__subtitle{
    font-size: 16px;
    font-family: inherit;
    text-align: center;
    margin-top: 8px;
    color: #717171;
}
.system__card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
}
.card{
    width: 27%;
    background-color: var(--main-background-color);
    border-radius: 8px;
    box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.17);
-webkit-box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.17);
-moz-box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.17);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px 32px;
}
.card img{
    width: 65px;
    height: 56px;
}
.card .card__header{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-family: inherit;
    margin-top: 16px;
}
.card .card__subtitle{
    font-size: 14px;
    font-family: inherit;
    text-align: center;
    margin-top: 8px;
}
.unlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
}
.unlock__content{
    max-width: 601px;
}
.unlock__content .unlock__header{
    font-size: 36px;
    font-family: inherit;
    font-weight: 600;
}
.unlock__content .unlock__subtitle{
    font-size: 14px;
    margin-top: 16px;
    font-family: inherit;
}
.unlock__btn{
    margin-top: 32px;
    background-color: var(--green-color);
    color: var(--main-background-color);
    padding: 14px 32px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
}
.counts{
    margin-top: 48px;
    background-color: var(--secondary-background-color); 
}
.counts__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.counts__icons{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.counts__content{
    width: 45%;
}
.counts__content .counts__header{
    font-size: 36px;
    font-weight: 600;
    text-align: start;
}
.counts__header .business{
    color: var(--green-color);
}
.counts__content .counts__subtitle{
    font-size: 16px;
    color: #18191F;
}
.counts__icons .members{
    max-width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.howto{
    margin-top: 48px;
    background-color: var(--main-background-color);
}
.pana{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pana__content{
    max-width: 54%;
}
.pana__content .pana__header{
    font-size: 36px;
}
.pana__content .pana__subtitle{
    font-size: 14px;
    margin-top: 16px;
}

.tsl{
    margin-top: 48px;
    background-color: var(--secondary-background-color);
}
.tim{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tsl__content{
    max-width: 64%;
}
.tsl__content .tsl__subtitle{
    font-size: 16px;
}
.name{
    margin-top: 16px;
    max-width: 64%;
}
.name__main{
    color: var(--green-color);
    font-size: 20px;
    font-weight: 600;
}
.name__sub{
    margin-top: 8px;
    font-size: 16px;
    color: #89939E;
}
.tsl__icon{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.tsl__icon .meet__all{
    font-size: 20px;
    font-weight: 600;
    color: var(--green-color);
    max-width: 223px;
}
.caring{
    margin-top: 48px;
    background-color: var(--main-background-color);
}
.caring__main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.marketing{
    max-width: 628px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.marketing .marketing__header{
    font-size: 36px;
    font-weight: 600;
    font-family: inherit;
}
.marketing .marketing__subtitle{
    font-size: 16px;
    margin-top: 8px;
    text-align: center;
}
.marketing__card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 206px;
}
.card__read{
    width: 27%;
    background-color: var(--secondary-background-color);
    border-radius: 8px;
    box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.17);
-webkit-box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.17);
-moz-box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.17);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px 32px;
}
.card__word{
    font-size: 20px;
    text-align: center;
    width: 275px;
}
.readmore{
    margin-top: 16px;
    font-size: 20px;
    color: var(--green-color);
}
.End{
    margin-top: 100px;
    background-color: var(--secondary-background-color);
}
.end__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}
.end__word{
    font-size: 64px;
    max-width: 887px;
    font-weight: 600;
    text-align: center;
}
.btn__end{
    margin-top: 32px;
}
.demo{
    color: #ffffff;
    background-color: #4CAF4F;
    font-size: 16px;   
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
}
.footer{
    background-color:#263238;
    padding: 64px 165px;
}
.footer__main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 165px;
}
.section1__content{
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-top: 40px;
    color: #ffffff;
}
.section1__content .copyright{
    font-size: 14px;
}
.section1__content .reserved{
    font-size: 14px;
}
.section1__icons{
    margin-top: 40px;
}
.section2__content{
    display: flex;
    gap: 14px;
    flex-direction: column;
    margin-top: 24px;
    color: #ffffff;
    font-size: 14px;
}
.section2__main{
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}
.footer__secondary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.end__mail{
    background-color: var(--text-color);
    color: #ffffff;
    width: 225px;
    padding: 10px 12px;
    margin-top: 24px;
    border: none;
    border-radius: 8px;
}